# node_modules no se sube jamás
node_modules/

# logs y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo Mac
.DS_Store

# Sistema operativo Linux
*~

# Sistema operativo Windows
Thumbs.db
ehthumbs.db
Desktop.ini
